.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #F9F3DC;
}

.todo-item h2 {
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: #222E50;
}

.todo-item button{
    font: inherit;
    cursor: pointer;
    padding: 0.4rem;
    border: 1px solid #222E50;
    background-color: #222E50;
    color: #BCD8C1;
    border-radius: 3px;
}